@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
    background-color: green;
    color: white;
}

.cabecalho p {
    font-size: 20px;
    font-weight: 500;
}

ul {
    font-size: 13px;
    display: flex;
    gap: 35px;
    list-style: none;
}

a {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

main {
    display: flex;
    height: 600px;
    background-color: aliceblue;
}

.texto {
    height: 100%;
    width: 50%;
    padding: 100px 30px;
}

.subtitulo {
    padding-top: 30px;
}

.intro {
    padding-top: 20px;
}

.imagem-inicio{
    padding: 100px 15px;
    height: 100%;
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
}